<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          rel="stylesheet" media="screen" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
</head>
<body>

<div class="container">
	<div class="alert alert-info">
    	<strong><a href="/">CRUD com Spring MVC</a></strong><br/>
    	Maurício Cantú, 2017 - Linguagem de Programação III
    </div>
    
    <hr/>
    
</div>



</body>
</html>